body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000000; /* color of the scrollbar handle */
  border-radius: 0px; /* roundness of the scrollbar handle */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* background of the scrollbar track */
  
}

/* Corner */
::-webkit-scrollbar-corner {
  background: black; /* background of the scrollbar corner */
  
}
